# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Manual Claims
NEXT_PUBLIC_MANUAL_CLAIM_FORM_URL=https://nihb-ssna.express-scripts.ca/e013d864-7cc0-4b27-b5d7-15127b675684
